.cm-s-hyperlambda { background:#e7e9db;color:#41323f;border-radius:var(--border-radius); }
.cm-s-hyperlambda .CodeMirror-gutters { background: #e7e9db; border-right: none; }
.cm-s-hyperlambda .CodeMirror-guttermarker { color: black; }
.cm-s-hyperlambda .CodeMirror-guttermarker-subtle { color: #8d8687; }
.cm-s-hyperlambda .CodeMirror-hints {z-index:2000 !important;}
.cm-s-hyperlambda .CodeMirror-code { color:#707070; }
.cm-s-hyperlambda span.cm-meta { color: #FF1717; }
.cm-s-hyperlambda span.cm-keyword { color: #d00050; }
.cm-s-hyperlambda span.cm-atom { color: #219; }
.cm-s-hyperlambda span.cm-number { color: #a00070; }
.cm-s-hyperlambda span.cm-def { color: #00a000; }
.cm-s-hyperlambda span.cm-variable { color: #505099; }
.cm-s-hyperlambda span.cm-variable-2 { color: #5050dd; }
.cm-s-hyperlambda span.cm-variable-3, .cm-s-hyperlambda span.cm-type { color: #5050aa; }
.cm-s-hyperlambda span.cm-property { color: #a0a0a0; }
.cm-s-hyperlambda span.cm-operator { color: black; }
.cm-s-hyperlambda span.cm-comment { color: #b0b0b0; }
.cm-s-hyperlambda span.cm-string { color: #909090; }
.cm-s-hyperlambda span.cm-string-2 { color: #f50; }
.cm-s-hyperlambda span.cm-qualifier { color: #555; }
.cm-s-hyperlambda span.cm-builtin { color: #30a; }
.cm-s-hyperlambda span.cm-bracket { color: #f00; }
.cm-s-hyperlambda span.cm-tag { color: #170; }
.cm-s-hyperlambda span.cm-attribute { color: #00c; }
.cm-s-hyperlambda span.cm-link { color: #219; }
.cm-s-hyperlambda span.cm-error { color: #f00; }
.cm-s-hyperlambda .CodeMirror-activeline-background { background: #d7d9cb; }
.cm-s-hyperlambda .CodeMirror-matchingbracket { outline:1px solid grey; color:black !important; }
.CodeMirror-hints { background: #e7e9db;color:#41323f; }
li.CodeMirror-hint-active { background: #c7c9bb;color:#41323f; }
